/* Border-radius*/

* {
	font-family: 'Roboto', sans-serif;
}

:root {
	font: 16px / 1 sans-serif;
}

html {
	height: 100%;
}

body {
	margin: 0;
	min-height: 100%;
	background-color: #00101a;
}

header {
	background-image: url(/images/space.png);
	background-size: 100% 90%;
	background-repeat: no-repeat;
	margin-left: 4rem;
	margin-right: 4rem;
}

.greeting1 {
	background-color: #cfd4d6;
	border-radius: 5px 5px 0px 0px;
	margin-top: 4rem;
	margin-left: 25rem;
	margin-right: 21rem;
	margin-bottom: 0rem;
}

.greeting2 {
	background-color: #cfd4d6;
	border-radius: 0px 0px 5px 5px;
	margin-top: 0rem;
	margin-bottom: 4rem;
	margin-left: 25rem;
	margin-right: 21rem;
	/* position: relative; */
}
/* .tri {
	position: absolute;
	bottom: 0;
} */
.gameslogos {
	display: flex;
	width: 250px;
	height: 200px;
	border-radius: 5px;
	margin: 2rem;
}

.games {
	background-color: rgba(00, 00, 00, 0.69);
	display: flex;
	flex: wrap;
}

article {
	background-color: #00101a;
}

.reacttitle {
	margin: 4rem;
	border-radius: 5px;
}

.codetitle {
	margin: 4rem;
	border-radius: 5px;
}

.reactbackground {
	background-image: url(/images/react.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position-y: -19.45rem;
	border-radius: 5px;
}

.codebackground {
	background-image: url(/images/code.png);
	background-repeat: no-repeat;
	background-size: 100%;
	border-radius: 5px;
}
.articlecontent {
	background-color: white;
	padding-top: 0;
	border-radius: 5px;
}

.contenttitle {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-left: 1rem;
}

.date {
	color: #474747;
	margin-left: 0.5rem;
	margin-right: 0;
	margin-top: 1.69rem;
	margin-bottom: 0;
}

p {
	margin-left: 1rem;
}

.keepreading {
	background: #007cdd;
	color: white;
	text-decoration: none;
	display: flex;
	border-radius: 5px;
	justify-content: flex-end;
	justify-content: space-around;
	align-content: flex-start;
	margin-left: 67rem;
	margin-right: 2rem;
	margin-top: -2rem;
	margin-bottom: -3rem;
}

.maybeishouldnt {
	color: none;
	background-color: none;
	margin: 1rem;
}

.stayconnected {
	display: flex;
	justify-content: center;
	color: white;
}
div {
	display: flex;
	flex: wrap;
	align-content: center;
	justify-content: center;
	justify-content: space-between;
	width: auto;
	height: 100px;
	margin: 4rem;
}

footer {
	color: white;
	display: flex;
	justify-content: center;
}
